html, body{
	height: 100%;
	font-family: Arial, sans-serif;
}

.wrapper{
	height: 100%;
	padding: 15px;
}

@media (max-width:1200px) {
	.wrapper {
		max-width:970px;
		margin: 0 auto;
	}
}

@media (max-width:992px) {
	.wrapper {
		max-width:770;
		margin: 0 auto;
	}
	
}

@media (max-width:767px) {
	.wrapper {
		max-width:none;
		margin: 0 auto;
	}
	
}

.title{
	text-align:center;
}

.block__row{
	max-width: 1200px;
	display: flex;
}

@media (max-width:500px) {
	.block__row{
		flex-direction:column;
	}
	.block__foto{
		margin: 0 auto;
	}
}

.block__foto{
flex: 0 0 20%;
}

.block__foto img{
	border-radius: 35px;
}

.block__element_2{
flex: 1 1 auto;
}

.block__item{
	padding: 0px 0 20px 0;
}

.block__title{
	letter-spacing: 2px;
	position: relative;
	padding: 0px 0 0 30px;
	cursor: pointer;
}

.block__title:before {  
  top: 0;
  left: 0;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform 1s;
}

.block__title.active:before{
	 transform: rotateZ(90deg);
}

.block__text{
	padding: 10px 0 0 0;
	display: none;
	text-align: justify;
	text-indent: 10px;
}
