html, body{
	height: 100%;
	margin: 0;
	/*font-family: ;*/
}

.wrapper{
	max-width: 1200px;
	padding: 15px;
	margin: 0 auto;
}

.title{
	text-align:center;
	color: #850000;
}

.block__row{
	display: flex;
	margin: 0 0 10px 0;
	min-width: 0;
}

.block__foto2{
	height: 150px;
	width: 80%;
	overflow:hidden;
	border-radius: 35px;
	display: none;
	margin: 20px auto ;
	align-items:center;
}

.block__foto2 img {
	max-height:100%;
}

.block__foto{
	flex: 0 0 280px;
	height: 420px;
	position: relative;
	overflow:hidden;
	border-radius: 35px;
}

.block__foto img{
	position: absolute;
	max-height:100%;	
}

/* для страничек */
.float img{
	float:left;
	padding-right: 10px;
	height: 300px;
}

@media (max-width:700px) {
	.block__row{
	flex-direction:column;
	padding: 0 10px 0 0;
	}
	.block__foto{
	display: none;
	}
	.block__foto2{
	display: block;
	}
}

.block__info{
	margin: 0 0 0 20px;
	min-width: 0;
}

.block__item{
	padding: 0px 0 20px 0;
	min-width: 0;
}

.block__title{
	position: relative;
	padding: 0px 0 0 30px;
	cursor: pointer;

}

.block__title2{
	position: relative;
	cursor: pointer;
}

.block__title:before {  
  top: 0;
  left: 0;
  background: url(../img/s.png) no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform 1s;
 }

.block__title.active:before{
	 transform: rotateZ(90deg);
}

.block__text{
	display: none;
	text-align: justify;
	min-width: 100%;
/*	max-width: 100%;*/
}

.themsWrap{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin: 10px;
}

.thems{
	flex: 0 0 280px;
	height: 420px;
	position:relative;
	border-radius: 35px;
	overflow:hidden;
	position: relative;
	margin: 5px;
}

.thems img{
	position: absolute;
	max-height:100%;
	}
	
@media (max-width:1210px) {
	.thems {
	flex: 0 0 260px;
	height: 350px;
	}
	.block__fotoб {
	flex: 0 0 260px;
	height: 350px;
	}
}

@media (max-width:1135px) {
	.thems{
	flex: 0 0 210px;
	height: 310px;	
	}
	.block__foto{
	flex: 0 0 200px;
	height: 300px;
	}
}

@media (max-width:710px) {
	.thems{
	flex: 0 0 180px;
	height: 280px;	
	}
	.block__foto{
	flex: 0 0 180px;
	height: 280px;
	}
	
	h1{
		font-size: 1.3em;
	}
	h2{
		font-size: 1.1em;
	}
	.float img{
		height: 200px;
	}
}

@media (max-width:620px) {
	.thems{
	flex: 0 0 150px;
	height: 240px;	
	}
	.wrapper{
	padding: 5px
	}
}

@media (max-width:420px) {
	.thems{
	flex-direction:column;
	}
}

.relation img{
	right:0;
}

.thems_txt{
	position: absolute;
	bottom: 0px;
	left: 0; 
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	padding: 5px;
	text-align: center;
	color: #fff;
}

.contact{
	border-radius: 25px;
	background: #eee;
	text-align: center;
	width: 100%;
}

.contact_title{
	padding: 10px 0 0 0;
}

.contact_url{
	display: flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	max-width: 99%;
}

.contact_url a{
	text-decoration: none;
	color: #000;
}

.url_txt{
	padding: 6px 0 0 0;
}

.url{
	width: 150px;
	height: 30px;
	border-radius: 25px;
	background: #ddd;
	margin: 10px;
	padding: 0px 0;
	
}

.url:hover{
	background: #ccc;
}

.mail:before {
	top: 0;
	left: 0;
	background: url(../img/mail.png) no-repeat 0px 0px / 2em 2em;
	width: 30px;
	height: 25px;  
	content: "";
	float: left;
	margin: 0px -15px 0 10px;
	z-index: 2;
}

.whatsapp:before {
	margin: 2px -15px 0 10px;
	top: 0;
	left: 0;
	background: url(../img/whatsapp.png) no-repeat 0px 0px / 1.5em 1.5em;
	width: 25px;
	height: 25px;  
	content: "";
	float: left;
	z-index: 2;
}

.instagram:before {
	margin: 4px -15px 0 10px;
	top: 0;
	left: 0;
	background: url(../img/instagram.png) no-repeat 0px 0px / 1.5em 1.5em;
	width: 25px;
	height: 25px;  
	content: "";
	float: left;
	z-index: 2;
}

.btn{
	color: #000;
	height: 30px;
	border-radius: 25px;
	background: #eee;
	margin: 10px;
	padding: 10px 0 0 0;
	text-align: center;
}

.btn:hover{
	background: #ddd;
}

a{
	text-decoration:none
}

.slider{
min-width: 0;
position: relative;
padding: 0 25px;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}
/* Стрелка */
.slick-arrow{
	position: absolute;
	top: 50%;
	margin: -25px 0 0 0;
	z-index: 5;
	font-size:0;
	width: 20px;
	height: 30px;
	border: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	left:0;
	background: url('../img/p.png') 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	right: 0;
	background: url('../img/n.png') 0 0 / 100% no-repeat;
}
.slider__item{
	text-align: center;
}